body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ERRORS */

.container-span {
  color: red;
}

.error {
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
}

/* LOGIN AND REGISTER*/

.form-login-register {
  width: 400px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
}

.title-login-register {
  text-align: center;
  margin-bottom: 40px;
}

.row-input {
  margin: 20px 10px;
}

.input-field {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.validate {
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  border-radius: 0px;
  padding: 10px 5px;
  margin: 10px 0px;
}

.linkTo-login-register-span {
  text-align: left;
  margin: 10px 0px;
}

.linkTo-login-register {
  color: #34606d;
}

.container-button-login-register {
  text-align: center;
  margin-top: 40px;
}

.button-login-register {
  background-color: #2bcdff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.button-login-register:hover {
  background-color: #23a9d1;
}

/* CHAT */

.navbar {
  padding: 20px;
  background-color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 22px;
}

.container {
  border: 1px solid grey;
}

.screen {
  width: 400px;
  height: 650px;
  padding: 20px 15px 0px 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.space {
  bottom: 0;
  width: 100%;
  height: 20px;
}

.chat-form {
  width: 400px;
  padding: 5px 18px;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-chat {
  width: 65%;
  padding: 8px;
  outline: none;
  border: none;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.button-chat {
  background-color: #2bcdff;
  border: none;
  padding: 10px 10px;
  font-weight: bold;
  margin: 10px 0px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.button-chat:hover {
  background-color: #23a9d1;
}

.right {
  max-width: 85%;
  float: right;
  margin: 10px 0px;
  margin-left: 150px;
  background-color: #34606d;
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
  word-wrap: break-word;
  font-size: 18px;
}

.left {
  max-width: 85%;
  float: left;
  margin: 10px 0px;
  margin-right: 150px;
  background-color: rgb(70, 70, 70);
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
  word-wrap: break-word;
  font-size: 18px;
}

.person {
  color: grey;
  font-weight: bold;
  font-size: 14px;
}

.content {
  margin: 0;
}

/* NOT FOUND */

.not-found {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
}
